.subscribe {
  background: #1D1F2E;
  margin: 190px 30px 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 330px;
}

.subscribe__text {
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0 25px;
}

.subscribe__email-field {
  border: 1px solid #2F303E;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 350px;
  height: 55px;
  background: #1D1F2E;
}

.subscribe__button {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(29, 31, 46, 0.1);
  width: 130px;
  height: 55px;
  margin-left: 10px;
}