.products {
  min-width: 970px;
  display: flex;
  justify-content: center;
}

.goods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  border: 1px solid transparent;
  position: relative;
}

.goods:hover {
  border-color: #ffc107;
}

.goods__picture {
  margin-bottom: 35px;
}

.goods__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1D1F2E;
  margin-bottom: 5px;
}

.goods__prices {
  display: flex;
  align-items: center;
}

.goods__price {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(29, 31, 46, 0.7);
}

.goods__price_discount {
  text-decoration-line: line-through;
  color: rgba(29, 31, 46, 0.4);
}

.goods__discount {
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #A25F4B;
  margin: 0 10px;
}

.goods__favorite-button {
  position: absolute;
  background: url(../../../src/favorite.svg) no-repeat;
  background-size: 25px 25px;
  bottom: 65px;
  left: 10px;
  width: 25px;
  height: 25px;
}

.goods__favorite-button:hover {
  background: url(../../../src/favorite_hover.svg) no-repeat;
  background-size: 25px 25px;
}

.goods__favorite-button_active:hover {
  background: url(../../../src/favorite_active.svg);
  background-size: 25px 25px;
}

.goods__favorite-button_active {
  background: url(../../../src/favorite_active.svg);
  background-size: 25px 25px;
}

.goods__cart-button {
  position: absolute;
  background: url(../../../src/in_cart.svg);
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  bottom: 65px;
  right: 10px;
}

.goods__cart-button_active {
  background: url(../../../src/from_cart.svg);
  background-size: 25px 25px;
}